<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit Your listing : </h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
        
                <div class="md-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Invalid title</div>
                </div>
        
                <div class="md-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Add Description</div>
                </div>
        
                <div class="md-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" name="listing[image]" value="<%= listing.image?.url || listing.image %>" class="form-control" required>
                </div>
                
                <div class="row">
                    <div class="md-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Invalid Price</div>
                    </div>
                
                    <div class="md-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Invalid Country</div>
                    </div>
                </div>
        
                <div class="md-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Invalid Location</div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
                <br><br>
            </form>
        </div>
    </div>
</body>



    <!-- <h3>Edit Your listing : </h3>

    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input name="listing[title]" value="<%= listing.title %>" type="text">
        <br><br>

        <textarea name="listing[description]"><%= listing.description %></textarea>
        <br><br>

        <input name="listing[image]" value="<%= listing.image.url %>" type="text">
        <br><br>

        <input name="listing[price]" value="<%= listing.price %>" type="number">
        <br><br>

        <input name="listing[country]" value="<%= listing.country %>" type="text">
        <br><br>

        <input name="listing[location]" value="<%= listing.location %>" type="text">
        <br><br>

        <button type="submit">Edit</button>
    </form> -->


