<% layout("/layouts/boilerplate") -%>
<body>
    <br>
    <h3>All Listings</h3> 
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->

    <div class="container1 my-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <% for (let listing of allListings) { %>
                <div class="col">
                    <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm">
                            <img src="<%= listing.image && listing.image.url ? listing.image.url : listing.image %>"
                                class="card-img-top" alt="listing_image" style="object-fit: cover; height: 200px;">
                            <div class="card-body">
                                <p class="card-text fw-semibold">
                                    <%= listing.title %><br>
                                        ₹ <%= listing.price.toLocaleString("en-IN") %> / night
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>
    </div>



    <!-- <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(listing of allListings) { %>
            <div class="card col" style="width: 20rem;">
                <img src="<%= listing.image && listing.image.url ? listing.image.url : listing.image %>"
                    class="card-img-top" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">
                        <%= listing.title %> <br>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %>/ night
                    </p>
                </div>
            </div>
        <% } %>
    </div> -->
</body>
